In [4]:
a = [1,2,3,4]
print (a);

[1, 2, 3, 4]

In [1]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [5]:
print('')

In [6]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [11]:
n = 500
print (n)

500

In [14]:
a = b = c = d =25000
print (a,b,c)

25000 25000 25000

In [16]:
var = 23.5
print (var)

var = "Manda sukses insyaallah"
print (var)

23.5
Manda sukses insyaallah

In [18]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [23]:
a = 30
b = 20
a + b

50

In [27]:
a = 30
b = 20
a + b - 10

40

In [29]:
s = 'foo'
t = 'bar'
u = 'baz'

print (s + t)
print (s +t +u)
print (s + u)
print ('Hactivity')

foobar
foobarbaz
foobaz
Hactivity

In [31]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[2])
print(a[0])
print(a[4])

baz
foo
quux

In [35]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print (t)
print (t[0])
print (t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [37]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print (s1)

foo

In [52]:
MLB_team = {
 'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'
}

print (MLB_team['Seattle'])
print (MLB_team['Boston'])

MLB_team['Kansas City'] = 'Royals'
print (MLB_team)

MLB_team['Seattle'] = 'Ceger'
print (MLB_team)

del MLB_team ['Seattle']
print (MLB_team)

Mariners
Red Sox
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Ceger', 'Kansas City': 'Royals'}
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Kansas City': 'Royals'}